{% extends 'base.html.twig' %}

{% block title %}Réservation - Catpuccino
{% endblock %}

{% block body %}
	<section class="container my-5 text-center">
		<h1 class="mb-4">Réservez votre moment câlin</h1>
		<p>Un café, un chat, un instant de douceur</p>

		<a href="{{ path('app_reservation_create') }}" class="btn btn-primary btn-lg mt-4">
			Réserver un créneau
		</a>
	</section>
{% endblock %}
