/* couleurs de l'application */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --darkCoffee: #291C0E;
    --hotChocolate: #6E473B;
    --cookie: #A78D78;
    --capuccino: #643F24;
    --tiramisu2: #E1D4C2;
    --tiramisu: #593d3b;
}

.logo img {
    width: 100%;
    max-width: 100px;
    height: auto;
}


body {
    background-color: var(--tiramisu2);
    font-family: 'Montserrat', sans-serif;
}

nav {
    font-weight: 600;
}


.btnUserConnexion {
    background-color: var(--darkCoffee);
    border-color: var(--darkCoffee);
}

.btnUserSignUp {
    background-color: transparent;
    border-color: var(--darkCoffee);
    color: var(--darkCoffee);
}

.btnUserSignUp,
.btnUserConnexion {
    border-radius: 20px;
    font-weight: 500;
}

.btnUserSignUp,
.btnUserConnexion {
    border-radius: 20px;
    font-weight: 500;
}

.btn .btnUserSignUp:active,
.btn .btnUserConnexion:active {
    background-color: #8a5a33 !important;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn.btnUserConnexion:active,
.btn.btnUserConnexion:focus,
.btn.btnUserSignUp:active,
.btn.btnUserSignUp:focus {
    background-color: var(--hotChocolate);
    border-color: var(--hotChocolate);
    color: white;

}


.btnUserConnexion:hover,
.btnUserSignUp:hover {
    background-color: var(--tiramisu);
    border-color: var(--tiramisu);
    transform: translateY(-1px);
    box-shadow: 0 3px 12px rgba(106, 94, 94, 0.3);
}

.nougat .hero-grisou {
    background: linear-gradient(to right, var(--darkCoffee), rgb(216, 173, 144));
    width: 100%;
}

.img-grisou img {
    width: 100%;
}

.text-hero h1 {
    padding-top: 20%;
}

.grisou-sticker {
    max-width: 100%;
    width: 150px;
}


/* responsive drinks*/

.card-img-top {
    height: 500px;
    width: 100%;
    object-fit: contain;
    background-color: #F1EFE9;
}

@media (min-width: 768px) {
    .card-img-top {
        height: 200px;
        padding: 20px;
    }
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10 20px rgba(0, 0, 0, 0.5);
}