<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}
				Catpuccino - café à chats
			{% endblock %}
		</title>
		<link rel="shortcut icon" href="{{ asset('images/favicon_nougat-coffee.png ')}}" type="image/x-icon">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% include '_partials/header.html.twig' %}

		<main>
			{% include '_partials/flashes.html.twig' %}
			{% block body %}{% endblock %}
		</main>

		{% include '_partials/footer.html.twig' %}
	</body>
</html>
